* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

.canvas {
  margin: 1rem;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  background-color: brown;
  padding: 0.3rem;
  /* padding-left: 30%; */
}

.navLinks {
  display: flex;
  justify-content: space-evenly;
  margin-right: 4rem;
}

.navLinks a {
  font-size: 1rem;
  font-weight: 600;
  padding: 15px 15px;
  text-decoration: none;
  color: black;
}

.navLinks a:hover,
.active {
  box-shadow: 0 0 10px black;
}

.navTitle,
.navTitle h1 {
  display: flex;
  margin-left: 4rem;
  background-color: brown;
  width: fit-content;
}
