* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

.canvas {
  /* margin: 1rem; */
}

.navbar {
  display: flex;
  justify-content: space-around;
  background-color: brown;
  padding: 0.3rem;
}

.navLinks {
  display: flex;
  justify-content: space-evenly;
  margin-right: 4rem;
}

.navLinks a {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 25px 25px;
  text-decoration: none;
  color: black;
}

.navLinks a:hover,
.active {
  box-shadow: 0 0 10px black;
}

.navTitle,
.navTitle h1 {
  display: flex;
  margin: auto;
  margin-left: 4rem;
  background-color: brown;
}
